square {
  border: 1px solid grey;
  width: 2rem;
  height: 2rem;
  display: block; }
  square.obstacle {
    background-color: grey; }
  square.player1 {
    background-color: blue; }
  square.player2 {
    background-color: red; }
  square.mystery-weapon {
    background-color: pink; }

board {
  display: flex;
  flex-wrap: wrap;
  margin: auto; }
