square {
  border : 1px solid grey;
  width:2rem;
  height: 2rem;
  display:block;

  &.obstacle{
    background-color: grey;
  }
  &.player1{
    background-color: blue;
  }
  &.player2{
    background-color: red;
  }
}

board {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}